racing-analytics-sf/force-app/main/default/flows/Driver_Championship_Total_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Driver_Points</name>
        <label>Add Driver Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDriverPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Total_Points_combined_for_Driver.Points_scored__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Points_combined_for_Driver</targetReference>
        </connector>
    </assignments>
    <description>Calculate the total points scored in races</description>
    <environments>Default</environments>
    <interviewLabel>Driver Championship Total flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Driver Championship Total flow</label>
    <loops>
        <name>Total_Points_combined_for_Driver</name>
        <label>Total Points combined for Driver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Driver_Race_Results</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Driver_Points</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Driver_total_points</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Driver_Race_Results</name>
        <label>Get Driver Race Results</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Points_combined_for_Driver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Driver__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Race_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Driver_total_points</name>
        <label>Update Driver total points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Driver__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Driver_Points__c</field>
            <value>
                <elementReference>varDriverPoints</elementReference>
            </value>
        </inputAssignments>
        <object>Driver__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Driver_Race_Results</targetReference>
        </connector>
        <object>Race_Result__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDriverPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
